extends layout/main-layout.pug 
block styles 
    link(rel="stylesheet", href="/css/form.css")

block content
    main
        form.users-form(action="/admin/add-user", method="POST")
            .form-control
                label(for="User") Enter UserName:
                input(type="text" name="User" id="User" required)
                label(for="Age") Choose Age: 
                input(type="number" name="Age" value="15" id="Age")
            button.btn Add User