.users-form{
    width: 70%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: left;
}

.form-control{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.form-control input,
button{
    padding: 5px 0;
    margin-bottom: 10px;
    border: 1px solid skyblue;
    border-radius: 5px;
}

button{
    margin-left: 10px;
    color: skyblue;
    background: white;
    padding: 5px 15px;
}

button:hover{
    background: skyblue;
    color: white;
}

.form-control input{
    background: rgb(242, 244, 245);
    padding: 5px 10px;
}

.form-control input:last-child{
    max-width: 70px;
}
