.product-form{
    width: 30rem;
    max-width: 90%;
    margin: 0 auto;

}

.form-control{
    margin: 1rem 0;
}

.form-control label,
.form-control input{
    width: 100%;
    display: block;
}

.form-control label{
    color: rgb(57, 172, 218);
    font-size: 1.5rem;
}

.form-control input{
    border: 1px solid rgb(57, 172, 218);
    font: inherit;
    border-radius: 2px;
    padding: 5px;
}

button{
    font: inherit;
    border: 1px solid rgb(57, 172, 218);
    color:rgb(57, 172, 218);
    background: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover,
button:active {
    background:rgb(163, 14, 14);
    color: white;
}
