body{
    margin: 0;
    padding: 0;
    font-family: cursive;
}

header{
    display: flex;
    align-items: center;
    width: 100%;
    background: rgb(57, 172, 218);
    color: white;
    padding: 1rem;
    justify-content: space-evenly;
}

header >div:last-child{
    margin: 0 1rem;
}

header a{
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
}

header a:hover,
header a:active{
    color: rgb(255, 0, 0);
}

main{
    padding: 1rem;
}